/* 
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Bellefair', serif;
*/

/* mobile first */
img {
    /* width: 100%; */
    height: 100%;
}

body {
    background-image: url("assets/crew/background-crew-mobile.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;

    min-height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
    min-height: calc(var(--vh, 1vh) * 100);

    line-height: 1.5;
    /* 
    display: grid;
    grid-template-rows: min-content 1fr; */

    overflow-x: hidden;
}

.crewMain {
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;

    text-align: center;
}

.crewDiv1 {
    flex: 1;
    width: 100%;
    position: relative;
}

.crewTitleNav {
    margin-left: auto;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: auto;
    font-size: 1.1rem;
}

.crewTitleNav2 {
    display: none;
}

.zeroTwo {
    font-weight: 700;
    color: grey;
}

.crewImg {
    height: 218px;
    position: relative;
    /* position: absolute;
    bottom: 0; */

    border-bottom: 1px solid rgb(111, 111, 111);
    margin: 0 auto;
    width: 80%;
}

.crewImgHr {
    width: 80%;
    position: absolute;
}

.paginateWrap {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    margin: auto;
    height: 40px;
    margin-top: 1.7rem;

    /* background-color: #d0d6f9; */
}

.paginateWrap.desk{
    display: none;
}

.paginateWrap div {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: grey;
}

.paginateWrap.active {
    background-color: white;
}

.crewDiv2 {
    flex: 1;
    width: 100%;
}

.crewRole {
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    color: grey;
    font-family: "Bellefair", serif;
    font-size: 1rem;
}

.crewname {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: "Bellefair", serif;
}

.crewPar {
    margin: 0 2rem;
    color: #d0d6f9;
    font-size: 1.1rem;
}

/*  landscape */
@media (min-width: 35em) {
    .crewMain {
        display: flex;
        flex-direction: row-reverse;
        align-items: start;
        padding-top: 2rem;
        height: 100vh;
    }

    .crewDiv1 {
        position: relative;
        height: 100%;
        flex: .8;
    }

    .crewDiv2 {
        text-align: left;
        margin-left: 5rem;
        height: 100%;
        flex: 1.2;
    }

    .crewPar {
        margin-left: 0;
    }

    .crewTitleNav2 {
        display: block;
        margin-bottom: 3rem;
    }

    .crewTitleNav {
        display: none;
    }

    .paginateWrap.mob {
        display: none;
    }

    .paginateWrap.desk{
        display: flex;
        margin-left: 0;
    }

    .crewImg {
        position: absolute;
        border-bottom: none;
        margin-bottom: 0;
        height: 90%;
        width: auto;
        bottom: 0px;
    }
}



/* pc 1300 */
@media (min-width: 1300px) {

    .crewMain{
        height: 89vh;
    }

    .crewTitleNav2{
        font-size: 2.8rem;
        margin-bottom: 7rem;
    }

    .crewPar{
        font-size: 1.4rem;
        width: 90%;
        margin-bottom: 7rem;
    }

    .crewRole{
        font-size: 2.8rem;
    }

    .crewname{
        font-size: 4rem;
    }

    .crewDiv1{
        flex: 1;
        height: 100%;
    }

    .crewDiv2{
        flex: 1;
    }

    .crewImg{
        height: 80%;
    }
}