/* 
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Bellefair', serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500;600;700;800;900&family=Bellefair&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Condensed', sans-serif;
    color: white;
    letter-spacing: 2px;
}

/* Desktop */
body {
    background-image: url('assets/home/background-home-desktop.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100vw;
    min-height: 100vh;

    

    line-height: 1.5;

    display: grid;
    grid-template-rows: min-content 1fr;

    overflow-x: hidden;
  }


  /* content */

  .home-main{
    display: flex;
    flex-direction: row;
    height: 100%;

    /* transform: scale(.9); */
  }

  .home-content-div1{
    flex: 1.2;
    margin: auto;
    padding: 0 3rem;
    transform: scale(.9);
    
  }

  .div2{
    flex: .8;
    margin-top: 1.5rem;
    padding: 0 5rem;
    margin: auto;
  }

  .home-t1{
    text-align: center;
    text-transform: uppercase;
    color: #d0d6f9;
    font-size: 1.1rem;
    letter-spacing: 3px;
    margin: 1rem;
  }

  .title1{
    text-align: center;
    font-family: 'Bellefair', serif;
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  .home-p1{
    text-align: center;
    margin: 0 2rem;
    letter-spacing: 1.5px;
    color: #d0d6f9;
    font-size: 1.1rem;

    /* font-size: .8rem; */
  }

  .circle {
    margin: auto;
    width: 170px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
  }

  .centerText{
    color: #0b0d17;
    font-family: 'Bellefair', serif;
    font-size: 1.4rem;
  }

  
  /* Mobile */
  /* @media only screen and (max-width: 600px) {
    body {
      background-image: url('/space-tourism-website-main/starter-code/assets/home/background-home-mobile.jpg');
      background-size: 100% 100%;
      background-position: center;
      background-repeat: no-repeat;
    }
  } */
  
  /* Laptop */
  /* @media only screen and (min-width: 601px) and (max-width: 1024px) {
    body {
      background-image: url('/space-tourism-website-main/starter-code/assets/home/background-home-tablet.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  } */
  

  /* nav starts here */
.primHeadr{
    /* width: 100%;  */
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 18px;
    letter-spacing: 3px;
}

.logo{
  margin: 2rem;
  width: 40px;
}

.mobNavTogl{
  display: none;
}

.primNav{
    list-style: none;
    padding: 0;
    margin: 0;

    background: hsl(0 0% 0% / 0.5);
}

@supports (backdrop-filter: blur(1rem)) {
  .primNav{
    background: hsl(0 0% 100% / 0.1);
    /* less # less blur */
    backdrop-filter: blur(1rem);
  }
}

.primNav a{
  text-decoration: none;
  text-transform: uppercase;
}

.primNav a > [aria-hidden="true"] {
  font-weight: 700;
  margin-inline-end: .75em;
}

.flex{
  display: flex;
  gap: var(--gap, 1rem);
}

.grid{
display: grid;
gap: var(--gap, 1rem);
}

.d-block{
display: block;
}

.sr-only{
display: none;
}


/* mobile */
@media (max-width: 35em) {

  body{
    background-image: url(assets/home/background-home-mobile.jpg);
    min-height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
    min-height: calc(var(--vh, 1vh) * 100);
  }

  /* nav */
  .primNav{
    --gap: 2em;

    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;

    flex-direction: column;
    padding: min(30vh, 10rem) 2em;

    transform: translateX(100%);
    transition: transform 350ms ease-in;
  }

  .primNav[data-visible="true"] {
    transform: translateX(0%);
  }

  .mobNavTogl{
    display: block;
    z-index: 9999;
    background-color: transparent;
    position: absolute;
    background-image: url(assets/shared/icon-hamburger.svg);
    background-repeat: no-repeat;
    background-size: 30px;
    width: 2rem;
    border: 0;
    aspect-ratio: 1;
    top: 2.5rem;
    right: 2rem;
  }

  .mobNavTogl[aria-expanded="true"] {
    background-image: url(assets/shared/icon-close.svg);
  }

  
  /* content */
  .home-main{
    display: block;
  }

  .home-content-div1{
    padding: 0;
  }

  .div2{
    padding: 0;
  }

  .home-p1{
    font-size: 1.1rem;
  }

}
/* mobile end */

/* tablet */
@media (min-width:35em) and (max-width:55em) {
  .primNav a > [aria-hidden="true"] {
    display: none;
  }
} 

@media (min-width:35em) {
  .primNav{
    --gap: clamp(1.5rem, 5vw, 3rem);
    padding-block: 1rem;
    padding-inline: clamp(3rem, 10vw, 10rem);
    padding-right: 2rem;
  }
}


/* Desktop 1300 */
@media (min-width: 1300px) {

  .title1{
    font-size: 12rem;
    margin-left: 3rem;
    text-align: left;
  }

  .home-t1{
    font-size: 2.8rem;
    margin-left: 3rem;
    text-align: left;
  }

  .home-p1{
    font-size: 1.8rem;
    margin-left: 3rem;
    margin-right: 3.2rem;
    text-align: left;
  }

  .circle{
    width: 300px;
  }

  .centerText{
    font-size: 3rem;
  }
}


