@font-face {
    font-family: "Plus Jakarta Sans";
    src: url("assets/fonts/PlusJakartaSans-VariableFont_wght.ttf");
}

:root {
    --Red: hsl(1, 90%, 64%);
    --Blue: hsl(219, 85%, 26%);
    --white: hsl(0, 0%, 100%);
    --verylightgrayishblue: hsl(210, 60%, 98%);
    --lightgrayishblue1: hsl(211, 68%, 94%);
    --lightgrayishblue2: hsl(205, 33%, 90%);
    --grayishblue: hsl(219, 14%, 63%);
    --darkgrayishblue: hsl(219, 12%, 42%);
    --verydarkblue: hsl(224, 21%, 14%);
}

* {
    font-family: "Plus Jakarta Sans";
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(210, 60%, 98%);
    min-height: 100vh;
}

.notification {
    background-color: hsl(0, 0%, 100%);
    max-width: 700px;
    padding: 1.5rem 1rem;
    border-radius: 15px;
    margin: auto;
}

.notifFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.8rem;
}

.notifTitle {
    color: var(--verydarkblue);
    font-weight: 800;
    font-size: 20px;
}

.notifMark {
    color: var(--darkgrayishblue);
    font-weight: 550;
}
.notifMark:hover {
    color: var(--Blue);
}

.notifTitle span {
    background-color: hsl(219, 85%, 26%);
    padding: 0 8px;
    color: white;
    margin-left: 5px;
    border-radius: 5px;
}

.box1 {
    display: flex;
    margin-top: 0.8rem;
    border-radius: 10px;
    background-color: hsl(210, 60%, 98%);
}

.box1:nth-child(5),
.box1:nth-child(6),
.box1:nth-child(7),
.box1:nth-child(8) {
    background-color: white;
}

.box1 img {
    width: 45px;
    height: 45px;
    margin: 1rem;
}

.box1 div {
    display: block;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: var(--darkgrayishblue);
    font-weight: 450;
    margin: 1rem;
    margin-left: 0;
    line-height: 1.5;
}

.name {
    color: var(--verydarkblue);
    font-weight: 800;
    padding-right: 5px;
}
.name:hover {
    color: var(--Blue);
}

.ptitle {
    color: var(--darkgrayishblue);
    font-weight: 700;
    padding-left: 5px;
}
.ptitle:hover {
    color: var(--Blue);
}

.ptitle2 {
    color: var(--Blue);
    font-weight: 700;
    padding-left: 5px;
}
.ptitle2:hover {
    color: var(--Blue);
}

.time {
    color: var(--grayishblue);
    margin: 0;
}

.par {
    margin-top: 3px;
    border: 1px solid hsl(205, 33%, 90%);
    border-radius: 5px;
    padding: 1rem;
}

.par:hover {
    background-color: var(--lightgrayishblue1);
}

.imgNote {
    margin-left: 500px;
}

.dot {
    display: inline-block;
    margin-bottom: 1px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: red;
}

@media (min-width: 720px) {
    body {
        display: flex;
    }
    .notification {
        margin: auto;
    }
}
